<!DOCTYPE html>
<html>
<head>
  <title>List of Positions</title>
  <style>
    body {
      background-color: #2142ab;
    }
    
    .container {
      text-align: center;
      margin-top: 50px;
    }
    
    h1 {
      color: white;
      font-size: 36px;
      font-style: italic;
    }
    
    ul {
      list-style-type: none;
      text-align: left;
      color: white;
      font-size: 18px;
      padding: 0;
    }
    
    li {
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Positions</h1>
    <ul>
      <li>Position 1</li>
      <li>Position 2</li>
      <li>Position 3</li>
      <li>Position 4</li>
      <li>Position 5</li>
    </ul>
  </div>
</body>
</html>
