<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<header id="heading">
			<p id="author">dB Cooper</p>
		</header>
		<div id="title_container">
			<h1 id="page_title">pythonTrader</h1>
		</div>
		<div id="buttons">
            <form method="post" action="/">
                <input type="submit" value="Positions" name="positions"/>
            </form>
            <form method="post" action="/">
                <input type="submit" value="Orders" name="orders"/>
            </form>
            <form method="post" action="/">
                <input type="submit" value="Settings" name="settings"/>
            </form>
        </div>

	</body>
</html>